<h3 mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  Create your team
</h3>
<div mat-dialog-content>
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="fgGeneral">
      <form [formGroup]="fgGeneral">
        <ng-template matStepLabel>General</ng-template>
        <div fxLayout="column" style="width: 100%;">
          <mat-form-field fxFlex="auto" style="margin-top: 20px;">
            <input
              matInput
              placeholder="Give your team a name"
              formControlName="ctrlTeamName"
              required
            />
          </mat-form-field>
          <div
            fxFlex="auto"
            style="margin-top: 20px; font-size: 12px; font-weight: 400; color: #3f51b5"
          >
            Team Owners
          </div>
          <kendo-multiselect
            #idpOwner
            [data]="idpData"
            formControlName="ctrlTeamOwner"
            [textField]="'name'"
            [valueField]="'email'"
            [filterable]="true"
            (filterChange)="handleSearchFilter($event)"
            (focus)="onFocus()"
          >
          </kendo-multiselect>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fgAdvanced">
      <form [formGroup]="fgAdvanced">
        <ng-template matStepLabel>Advanced</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" />
        </mat-form-field>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="start center" style="margin-top: 10px;">
  <button
    fxFlex="none"
    mat-stroked-button
    (click)="onPrevious(stepper)"
    style="margin-right: 5px;"
    [disabled]="stepper.selectedIndex === 0"
  >
    Previous
  </button>
  <button
    fxFlex="none"
    mat-stroked-button
    (click)="onNext(stepper)"
    style="margin-right: 20px;"
    [disabled]="stepper.selectedIndex === 1"
  >
    Next
  </button>
  <button
    fxFlex="none"
    mat-stroked-button
    color="primary"
    mat-dialog-close="ok"
    [disabled]="stepper.selectedIndex !== 1"
  >
    {{ 'key_submit' | translate }}
  </button>
  <div fxFlex="auto"></div>
  <button fxFlex="none" mat-stroked-button mat-dialog-close="cancel">
    {{ 'key_cancel' | translate }}
  </button>
</div>
