<div fxLayout="column" class="full-size-relative">
  <div fxFlex="auto" [ngClass]="localConfig.title ? 'withTitle' : 'withoutTitle'">
    <kendo-grid
      #grid="kendoGrid"
      [style.height.%]="100"
      [style.fontSize.px]="localConfig.fontSize"
      [data]="gridResources | async"
      [loading]="gridLoading"
      [pageSize]="localConfig.pageSize"
      [skip]="gridState.skip"
      [pageable]="{
        buttonCount: localConfig.pageCountNumber,
        info: localConfig.pageInfo,
        type: localConfig.pageType,
        pageSize: localConfig.pageSize,
        previousNext: localConfig.pageButton
      }"
      [filter]="gridState.filter"
      [sort]="gridState.sort"
      [sortable]="{
        allowUnsort: localConfig.allowUnsort,
        mode: localConfig.sortMode
      }"
      [selectable]="gridSelect"
      [filterable]="localConfig.filterMode"
      [resizable]="localConfig.resizable"
      [kendoGridSelectBy]="getSelectionAttribute"
      [selectedKeys]="selection"
      (dataStateChange)="dataStateChange($event)"
      (cellClick)="onCellClick($event)"
      (dblclick)="onDoubleClick()"
    >
      <ng-template
        kendoGridToolbarTemplate
        *ngIf="localConfig.title || localConfig.exportToPDF || localConfig.exportToExcel"
      >
        <div fxLayout="row" fxLayoutAlign="end center">
          <div fxFlex="1 1 auto" class="table-title">{{ localConfig.title | translate }}</div>
          <div fxFlex="none" *ngIf="localConfig.exportToPDF || localConfig.exportToExcel">
            <mat-slide-toggle
              [(ngModel)]="localConfig.exportAllPages"
              style="font-size: 10px; font-weight: 400; padding-top: 8px; margin-right: 10px;"
            >
              {{ 'key_exportAllPages' | translate }}</mat-slide-toggle
            >
          </div>
          <button
            fxFlex="0 0 auto"
            class="export-button"
            kendoGridPDFCommand
            icon="file-pdf"
            *ngIf="localConfig.exportToPDF"
          >
            {{ 'key_exportToPDF' | translate }}
          </button>
          <button
            fxFlex="0 0 auto"
            class="export-button"
            kendoGridExcelCommand
            icon="file-excel"
            *ngIf="localConfig.exportToExcel"
          >
            {{ 'key_exportToExcel' | translate }}
          </button>
        </div>
      </ng-template>
      <kendo-grid-checkbox-column
        *ngIf="localConfig.selectable"
        [showSelectAll]="localConfig.selectMode === 'multiple'"
        [width]="localConfig.selectBoxWidth"
      >
      </kendo-grid-checkbox-column>
      <kendo-grid-column
        title="ObjectID"
        field="ObjectID"
        [sortable]="false"
        [filterable]="false"
        [width]="100"
        [hidden]="true"
      ></kendo-grid-column>
      <kendo-grid-column
        *ngFor="let col of localConfig.columns"
        [title]="col.title"
        [field]="col.field"
        [sortable]="col.sortable"
        [filterable]="col.filterable"
        [filter]="col.filter"
        [width]="col.width"
        [locked]="col.locked"
        [style]="{
          'padding-top': localConfig.cellPadding.toString() + 'px',
          'padding-bottom': localConfig.cellPadding.toString() + 'px'
        }"
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <span> {{ dataItem | extraValue: col.field + ':DisplayName' }} </span>
        </ng-template>
        <ng-template
          kendoGridFilterMenuTemplate
          *ngIf="col.filterable"
          let-filter
          let-column="column"
          let-filterService="filterService"
        >
          <kendo-grid-string-filter-menu
            *ngIf="col.filter === 'text'"
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            operator="startswith"
          >
            <kendo-filter-eq-operator></kendo-filter-eq-operator>
            <kendo-filter-neq-operator></kendo-filter-neq-operator>
            <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
            <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
            <kendo-filter-isempty-operator></kendo-filter-isempty-operator>
            <kendo-filter-isnotempty-operator></kendo-filter-isnotempty-operator>
          </kendo-grid-string-filter-menu>
          <kendo-grid-boolean-filter-menu
            *ngIf="col.filter === 'boolean'"
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
          >
          </kendo-grid-boolean-filter-menu>
          <kendo-grid-numeric-filter-menu
            *ngIf="col.filter === 'numeric'"
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
          >
            <kendo-filter-eq-operator></kendo-filter-eq-operator>
            <kendo-filter-neq-operator></kendo-filter-neq-operator>
            <kendo-filter-gt-operator></kendo-filter-gt-operator>
            <kendo-filter-lt-operator></kendo-filter-lt-operator>
          </kendo-grid-numeric-filter-menu>
          <kendo-grid-date-filter-menu
            *ngIf="col.filter === 'date'"
            [column]="column"
            [filter]="filter"
            [filterService]="filterService"
            operator="lt"
          >
            <kendo-filter-eq-operator></kendo-filter-eq-operator>
            <kendo-filter-neq-operator></kendo-filter-neq-operator>
            <kendo-filter-before-operator></kendo-filter-before-operator>
            <kendo-filter-after-operator></kendo-filter-after-operator>
          </kendo-grid-date-filter-menu>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-pdf
        *ngIf="localConfig.exportToPDF"
        fileName="export.pdf"
        [allPages]="localConfig.exportAllPages"
      >
        <kendo-grid-pdf-margin
          top="1cm"
          left="1cm"
          right="1cm"
          bottom="1cm"
        ></kendo-grid-pdf-margin>
      </kendo-grid-pdf>
      <kendo-grid-excel
        *ngIf="localConfig.exportToExcel"
        fileName="export.csv"
        [fetchData]="localConfig.exportAllPages ? allData : null"
      >
      </kendo-grid-excel>
    </kendo-grid>
  </div>
</div>
