/deep/ .mat-slide-toggle-bar {
  height: 8px !important;
  width: 30px !important;
}
/deep/ .mat-slide-toggle-thumb {
  height: 14px !important;
  width: 14px !important;
}
/deep/ .mat-slide-toggle-ripple {
  height: 35px !important;
  width: 35px !important;
}

.table-title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: -8px;
}

.export-button {
  font-size: 8px;
  margin-bottom: -10px;
  color: rgba(0, 0, 0, 0.54);
}

.withTitle {
  height: calc(100% - 50px);
}

.withoutTitle {
  height: 100%;
}
