<mat-form-field
  fxFlex="auto"
  *ngIf="configMode || showEditor(resource.rightSets)"
  [ngClass]="{ 'config-hidden': configMode && !showEditor(resource.rightSets) }"
  style="width: 100%;"
>
  <input
    matInput
    #editor="ngModel"
    [placeholder]="displayName | translate"
    [matTooltip]="tooltip"
    [(ngModel)]="value"
    (focus)="onFocuse()"
    (change)="onChange()"
    [disabled]="disabled(resource.rightSets)"
    [attr.maxlength]="config.maxLength"
  />
  <mat-hint align="start" *ngIf="!control || (control && control.valid)">
    <div fxLayout="row">
      <div fxFlex="auto" *ngIf="description" style="margin-right: 10px;">
        {{ description | translate }}
      </div>
      <div
        fxFlex="auto"
        *ngIf="readAccess && !writeAccess"
        style="font-size: 14px; color: #d8bb2e;"
      >
        <mat-icon [matTooltip]="'key_noWriteAccess' | translate">error</mat-icon>
      </div>
      <div fxFlex="auto" *ngIf="!readAccess" style="font-size: 14px; color: red;">
        <mat-icon [matTooltip]="'key_noReadAccess' | translate">error</mat-icon>
      </div>
    </div>
  </mat-hint>
  <mat-hint align="end" *ngIf="config.maxLength && (!control || (control && control.valid))"
    >{{ editor.value ? editor.value.length : 0 }} / {{ config.maxLength }}</mat-hint
  >
  <mat-hint *ngIf="control && control.invalid" class="error-message">{{
    control.errors['message'] | translate
  }}</mat-hint>
</mat-form-field>
