<mat-form-field fxFlex="auto" *ngIf="showEditor" style="width: 100%;">
  <input
    matInput
    #editor="ngModel"
    [placeholder]="displayName | translate"
    [matTooltip]="tooltip"
    [(ngModel)]="controlValue"
    (focus)="onFocuse()"
    (keyup)="onKeyUp($event)"
    (change)="onChange()"
    [disabled]="disabled"
    [attr.maxlength]="localConfig.maxLength"
  />
  <mat-hint align="start" *ngIf="control.valid">{{ description | translate }}</mat-hint>
  <mat-hint align="end" *ngIf="localConfig.maxLength && control.valid"
    >{{ editor.value ? editor.value.length : 0 }} / {{ localConfig.maxLength }}</mat-hint
  >
  <mat-hint *ngIf="control.invalid && control.touched" class="error-message">{{
    control.errors['message'] | translate
  }}</mat-hint>
</mat-form-field>
