<div
  [fxLayout]="direction"
  [fxLayoutAlign]="direction === 'row' ? 'end center' : 'start center'"
  fxLayoutGap="20px"
>
  <div
    [@editMode]="{
      value: editMode,
      params: { inactiveTrans: transInactive, activeTrans: transActive }
    }"
    fxFlex="0 0 auto"
    [fxLayout]="direction"
    [fxLayoutAlign]="direction === 'row' ? 'end center' : 'start end'"
    [fxFlexOrder]="direction === 'row' ? 1 : 2"
    fxLayoutGap="20px"
    class="expand-menu"
  >
    <button
      mat-mini-fab
      *ngIf="buttons.includes('save')"
      fxFlex="0 0 auto"
      class="link-div"
      matTooltip="{{ 'key_save' | translate }}"
      [matTooltipPosition]="direction === 'row' ? 'below' : 'before'"
      [style.background]="buttonColor"
      (click)="onSave()"
    >
      <mat-icon class="action-icon">save</mat-icon>
    </button>
    <button
      mat-mini-fab
      *ngIf="buttons.includes('add')"
      fxFlex="0 0 auto"
      class="link-div"
      matTooltip="{{ 'key_add' | translate }}"
      [matTooltipPosition]="direction === 'row' ? 'below' : 'before'"
      [style.background]="buttonColor"
      (click)="onAdd()"
    >
      <mat-icon class="action-icon">add_box</mat-icon>
    </button>
    <button
      mat-mini-fab
      *ngIf="buttons.includes('refresh')"
      fxFlex="0 0 auto"
      class="link-div"
      matTooltip="{{ 'key_refresh' | translate }}"
      [matTooltipPosition]="direction === 'row' ? 'below' : 'before'"
      [style.background]="buttonColor"
      (click)="onRefresh()"
    >
      <mat-icon class="action-icon">refresh</mat-icon>
    </button>
    <button
      mat-mini-fab
      *ngIf="buttons.includes('setting')"
      fxFlex="0 0 auto"
      class="link-div"
      matTooltip="{{ 'key_settings' | translate }}"
      [matTooltipPosition]="direction === 'row' ? 'below' : 'before'"
      [style.background]="buttonColor"
      (click)="onSetting()"
    >
      <mat-icon class="action-icon">settings</mat-icon>
    </button>
  </div>
  <button
    mat-fab
    fxFlex="0 0 auto"
    [fxFlexOrder]="direction === 'row' ? 2 : 1"
    class="link-div"
    [ngClass]="{ 'link-div-row': direction === 'row', 'link-div-column': direction === 'column' }"
    matTooltip="{{ mainIconText | translate }}"
    [matTooltipPosition]="direction === 'row' ? 'below' : 'before'"
    [style.background-color]="buttonColor"
    (click)="toggleEditMode()"
  >
    <mat-icon class="brand-icon">{{ mainIcon }}</mat-icon>
  </button>
</div>
