<div fxLayout="row wrap" fxLayoutAlign="start start" class="ie-absolut">
  <div fxFlex="100%" class="setting-header">{{ 'l10n_managedResources' | translate }}</div>
  <div *ngFor="let action of managedResources" fxFlex="none">
    <app-action-card
      [config]="action"
      (primaryAction)="onPrimaryAction(action.primaryAction)"
      (secondaryAction)="onSecondaryAction(action.secondaryAction)"
    ></app-action-card>
  </div>
  <div fxFlex="100%" class="setting-header">{{ 'l10n_configurationResources' | translate }}</div>
  <div *ngFor="let action of configurationResources" fxFlex="none">
    <app-action-card
      [config]="action"
      (primaryAction)="onPrimaryAction(action.primaryAction)"
      (secondaryAction)="onSecondaryAction(action.secondaryAction)"
    ></app-action-card>
  </div>
  <div fxFlex="100%" class="setting-header">{{ 'l10n_schemaResources' | translate }}</div>
  <div *ngFor="let action of schemaResources" fxFlex="none">
    <app-action-card
      [config]="action"
      (primaryAction)="onPrimaryAction(action.primaryAction)"
      (secondaryAction)="onSecondaryAction(action.secondaryAction)"
    ></app-action-card>
  </div>
</div>
