.form-field {
  padding-bottom: 0 !important;
}

.item-area {
  margin: 20px 20px 0 10px;
  // padding: 0 20px 30px 0 !important;
  border: solid 1px lightgray;
  border-radius: 5px;
}

.item-button {
  position: absolute;
  margin-top: -20px;
  margin-left: -10px;
  background-color: white;
}

.item-entry {
  margin-left: 30px !important;
  margin-bottom: 10px !important;
}
