<div fxFlex="auto" *ngIf="showEditor(resource.rightSets)">
  <mat-form-field *ngIf="config.controlType === 'combo'" style="width: 100%;">
    <mat-select
      [(ngModel)]="value"
      [placeholder]="displayName | translate"
      [matTooltip]="tooltip"
      [disabled]="disabled(resource.rightSets)"
      (focus)="onFocuse()"
      (change)="onChange()"
    >
      <mat-option *ngIf="config.allowEmpty" [value]="null">--</mat-option>
      <mat-option *ngFor="let option of dataSource | async" [value]="option.value">
        {{ option.text | translate }}
      </mat-option>
    </mat-select>
    <mat-hint align="start" *ngIf="!control || (control && control.valid)">
      <div fxLayout="row">
        <div fxFlex="auto" *ngIf="description" style="margin-right: 10px;">
          {{ description | translate }}
        </div>
        <div
          fxFlex="auto"
          *ngIf="readAccess && !writeAccess"
          style="font-size: 14px; color: #d8bb2e;"
        >
          <mat-icon [matTooltip]="'key_noWriteAccess' | translate">error</mat-icon>
        </div>
        <div fxFlex="auto" *ngIf="!readAccess" style="font-size: 14px; color: red;">
          <mat-icon [matTooltip]="'key_noReadAccess' | translate">error</mat-icon>
        </div>
      </div>
    </mat-hint>
    <mat-hint *ngIf="control && control.invalid" class="error-message">{{
      control.errors['message'] | translate
    }}</mat-hint>
  </mat-form-field>
  <div *ngIf="config.controlType === 'radio'" fxLayout="column" style="margin-top: -8px;">
    <div fxFlex="none" class="label-attribute-name">
      {{ displayName | translate }}
    </div>
    <mat-radio-group
      fxFlex="none"
      [(ngModel)]="value"
      [matTooltip]="tooltip"
      [disabled]="disabled(resource.rightSets)"
      (focus)="onFocuse()"
      (change)="onChange()"
    >
      <div
        [fxLayout]="config.radioButtonLayout"
        [fxLayoutGap]="config.radioButtonSpace.toString() + 'px'"
      >
        <mat-radio-button
          fxFlex="none"
          *ngFor="let option of dataSource | async"
          [value]="option.value"
          >{{ option.text | translate }}</mat-radio-button
        >
        <mat-radio-button fxFlex="none" *ngIf="config.allowEmpty" [value]="null"
          >--</mat-radio-button
        >
      </div>
    </mat-radio-group>
    <div *ngIf="!control || (control && control.valid)" fxFlex="none" class="label-attribute-desc">
      <div fxLayout="row">
        <div fxFlex="none" *ngIf="description" style="margin-right: 10px;">
          {{ description | translate }}
        </div>
        <div
          fxFlex="none"
          *ngIf="readAccess && !writeAccess"
          style="font-size: 14px; color: #d8bb2e;"
        >
          <mat-icon [matTooltip]="'key_noWriteAccess' | translate">error</mat-icon>
        </div>
        <div fxFlex="none" *ngIf="!readAccess">
          <mat-icon
            [matTooltip]="'key_noReadAccess' | translate"
            style="font-size: 14px; color: red; padding-top: 4px;"
            >error</mat-icon
          >
        </div>
      </div>
    </div>
    <div fxFlex="none" *ngIf="control && control.invalid" class="label-attribute-desc">
      {{ control.errors['message'] | translate }}
    </div>
  </div>
</div>
