<div class="splash-cover">
  <div style="flex:none;">
    <img src="../../assets/img/ocglogoblack.png" alt="" class="splash-image" />
  </div>
  <div style="flex:none;">
    <div class="animlayoutCycle">
      <div id="animcycleblock1" class="animcycle"></div>
      <div id="animcycleblock2" class="animcycle"></div>
      <div id="animcycleblock3" class="animcycle"></div>
      <div id="animcycleblock4" class="animcycle"></div>
      <div id="animcycleblock5" class="animcycle"></div>
    </div>
  </div>
</div>
