<mat-tab-group dynamicHeight animationDuration="0ms" (selectedTabChange)="onTabChange($event)">
  <!-- general information -->
  <mat-tab label="General">
    <div
      fxLayout="column"
      fxLayoutAlign="space-evenly start"
      fxLayoutGap="20px"
      class="tab-element layout-column"
    >
      <div fxFlex="auto">
        <div>Environment: {{ env }}</div>
        <div>Start Path: {{ startPath }}</div>
        <div>Current Language: {{ currentLanguage }}</div>
      </div>
      <div fxFlex="auto" [innerHTML]="dataServiceInfo"></div>
      <div fxFlex="auto">
        <mat-card style="width:300px;">
          <mat-card-header>
            <mat-card-title>{{ 'l10n_greeting' | translate }}</mat-card-title>
          </mat-card-header>
          <mat-card-content style="position:relative;">
            <p ngxUiLoaderBlurred blur="1" [loaderId]="'loader-01'">
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog
              from Japan. A small, agile dog that copes very well with mountainous terrain, the
              Shiba Inu was originally bred for hunting.
            </p>
            <ngx-ui-loader
              [loaderId]="'loader-01'"
              [fgsType]="spinnerType.rectangleBounce"
              [fgsSize]="40"
              [fgsColor]="'white'"
              [overlayColor]="'rgba(50,50,50,.5)'"
              [pbColor]="'white'"
            ></ngx-ui-loader>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="auto">
        <ng-template ngFor let-language [ngForOf]="languages">
          <span *ngIf="language.code.indexOf(currentLanguage) < 0" style="margin-right: 10px;">
            <a [routerLink]="" (click)="onChangeLanguage(language.route)">{{ language.label }}</a>
          </span>
          <span *ngIf="language.code.indexOf(currentLanguage) >= 0">{{ language.label }} </span>
        </ng-template>
      </div>
      <div fxFlex="auto">
        <input type="text" [(ngModel)]="fetchText" />
        <button (click)="onFetchResource()">Fetch Resource</button>
        <button (click)="onDataServiceTest()">Data Service Test</button>
        <ul *ngIf="fetchedResources.length > 0">
          <!-- <li *ngFor="let res of fetchedResources">
                  {{ res['DisplayName'] }} ({{ res['Manager'] ? res['Manager'].DisplayName : null }})
                </li> -->
          <li *ngFor="let res of fetchedResources">
            {{ res | extraValue: 'DisplayName' }} ({{ res | extraValue: 'Manager:DisplayName' }})
          </li>
        </ul>
      </div>
      <div fxFlex="auto">
        <button (click)="onLogout()">Logout</button>
      </div>
    </div>
  </mat-tab>
  <!-- components -->
  <mat-tab label="Components">
    <div fxLayout="row wrap">
      <div fxFlex="20" style="position: relative;">
        <app-state-card
          [query]="'/Person'"
          [mainText]="'{0}'"
          [title]="'Total Users'"
          [iconText]="'person'"
        ></app-state-card>
      </div>
      <div fxFlex="20">
        <app-action-card
          [config]="{
            title: 'User',
            description: 'Portal User Object, can be interpreted as Identity or Account'
          }"
        ></app-action-card>
      </div>
      <!-- <div fxFlex="40">
        <app-resource-table [config]="{ query: '/Person' }"></app-resource-table>
      </div>
      <div fxFlex="40">
        <app-resource-chart></app-resource-chart>
      </div> -->
    </div>
  </mat-tab>
  <!-- drag & drop -->
  <mat-tab label="Drag & Drop">
    <div style="position:absolute;right:0;top:20px;z-index:100;">
      <app-edit-menu
        [direction]="'column'"
        (edit)="onGridsterEdit()"
        (add)="onGridsterAdd()"
        (cancel)="onGridsterCancel()"
        (save)="onGridsterSave()"
      ></app-edit-menu>
    </div>
    <div style="height: 800px;">
      <gridster [options]="gdOptions" style="background:transparent;">
        <gridster-item [item]="item" *ngFor="let item of gdItems">
          <div style="position: absolute; right: 5px; top: 5px; z-index: 10;">
            <button
              mat-mini-fab
              *ngIf="gdOptions.draggable.enabled === true"
              (click)="onGridsterDelete($event, item)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div style="position: absolute; right: 65px; top: 5px; z-index: 10;">
            <button
              mat-mini-fab
              *ngIf="gdOptions.draggable.enabled === true"
              (click)="onGridsterConfig($event, item)"
            >
              <mat-icon>settings</mat-icon>
            </button>
          </div>
          <ng-container [appDynamicContainer]="item.name"></ng-container>
        </gridster-item>
      </gridster>
    </div>
  </mat-tab>
  <!-- attribute editors -->
  <mat-tab label="Editors">
    <form (ngSubmit)="onSubmit(f, txtAccountName)" #f="ngForm">
      <div fxLayout="column" fxLayoutGap="10px" style="margin: 20px;">
        <div>
          <app-editor-text
            #txtAccountName
            name="txtAccountName"
            [ngModel]="editorResource | extraValue: 'AccountName'"
            [config]="{ showDescription: true, validation: '^[a-z]{1,16}$', maxLength: 16 }"
          ></app-editor-text>
        </div>
        <div>
          <app-editor-boolean
            name="chkRegister"
            [ngModel]="editorResource | extraValue: 'Register'"
            [config]="{ showDescription: true }"
          ></app-editor-boolean>
        </div>
        <div>
          <button mat-stroked-button color="primary" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </mat-tab>
</mat-tab-group>
