<div>
  <form [formGroup]="resourceForm">
    <div
      fxLayout="row wrap"
      fxLayoutGap="20px grid"
      formArrayName="controls"
      dragula="ATTRIBUTECOLUMN"
      [(dragulaModel)]="attributeArray"
    >
      <div
        [fxFlex]="100 / columnNumber"
        fxFlex.lt-md="100"
        *ngFor="let attribute of attributeArray"
        [ngSwitch]="attribute.type"
        #editor
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxFlex="auto" *ngSwitchCase="'text'">
            <app-editor-text
              #editor
              [attribute]="attribute.attribute"
              [formControlName]="getControllerIndex(attribute.config.name)"
              [control]="attribute.controller"
              [(config)]="attribute.config"
            ></app-editor-text>
          </div>
          <div fxFlex="auto" *ngSwitchCase="'boolean'">
            <app-editor-boolean
              #editor
              [attribute]="attribute.attribute"
              [formControlName]="getControllerIndex(attribute.config.name)"
              [control]="attribute.controller"
              [(config)]="attribute.config"
            ></app-editor-boolean>
          </div>
          <div
            *ngIf="configMode"
            fxFlex="none"
            class="handle"
            style="width: 36px; height: 36px; text-align: center; line-height: 56px; cursor: move; color: lightgray;"
          >
            <mat-icon>menu</mat-icon>
          </div>
          <button
            *ngIf="configMode"
            type="button"
            mat-icon-button
            color="primary"
            fxFlex="none"
            (click)="onConfig(attribute.attribute.systemName)"
          >
            <mat-icon>settings</mat-icon>
          </button>
          <button
            *ngIf="configMode"
            type="button"
            mat-icon-button
            color="warn"
            fxFlex="none"
            (click)="onDelete(attribute)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <div fxFlex="20px"></div>
        </div>
      </div>
    </div>
  </form>
</div>
