<div>
  <form [formGroup]="resourceForm">
    <div
      fxLayout="row wrap"
      fxLayoutGap="20px grid"
      formArrayName="controls"
      dragula="ATTRIBUTECOLUMN"
      [(dragulaModel)]="attributeArray"
    >
      <ng-container *ngFor="let attribute of attributeArray" [ngSwitch]="attribute.type">
        <div
          [fxFlex]="100 / columnNumber"
          fxFlex.lt-md="100"
          fxLayout="row"
          fxLayoutAlign="start center"
        >
          <app-editor-text
            #editor
            fxFlex="auto"
            *ngSwitchCase="'text'"
            [attribute]="attribute.attribute"
            [isFormControl]="true"
            [formControlName]="getControllerIndex(attribute.attribute.systemName)"
            [control]="attribute.controller"
            [(config)]="attribute.config"
          ></app-editor-text>
          <app-editor-boolean
            #editor
            fxFlex="auto"
            *ngSwitchCase="'boolean'"
            [attribute]="attribute.attribute"
            [isFormControl]="true"
            [formControlName]="getControllerIndex(attribute.attribute.systemName)"
            [control]="attribute.controller"
            [(config)]="attribute.config"
          ></app-editor-boolean>
          <div
            *ngIf="configMode"
            fxFlex="none"
            class="handle"
            style="width: 36px; height: 36px; text-align: center; line-height: 56px; cursor: move; color: lightgray;"
          >
            <mat-icon>menu</mat-icon>
          </div>
          <button
            *ngIf="configMode"
            type="button"
            mat-icon-button
            color="primary"
            fxFlex="none"
            (click)="onConfig(attribute.attribute.systemName)"
          >
            <mat-icon>settings</mat-icon>
          </button>
          <button
            *ngIf="configMode"
            type="button"
            mat-icon-button
            color="warn"
            fxFlex="none"
            (click)="onDelete(attribute)"
          >
            <mat-icon>delete</mat-icon>
          </button>
          <div fxFlex="20px"></div>
        </div>
      </ng-container>
    </div>
  </form>
</div>
