<div fxLayout="column" style="width: 100%;">
  <div style="height: 20px;"></div>
  <mat-checkbox
    [matTooltip]="tooltip"
    [(ngModel)]="value"
    (focus)="onFocuse()"
    (change)="onChange()"
    [disabled]="disabled"
    [labelPosition]="localConfig.textAlign"
    [indeterminate]="value === undefined || value === null"
    style="font-weight: 400;"
  >
    {{ displayName | translate }}
  </mat-checkbox>
</div>
<div style="font-size: 12px; font-weight: 400; color: rgba(0,0,0,.54); height: 18px;">
  {{ description | translate }}
</div>
