/* :host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
} */

.login-form {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 180px;
  width: 320px;
  background-color: white;
  border-radius: 5px;
  opacity: 0;
}

.login-header {
  height: 140px;
  margin: 20px;
  border-radius: 5px;
  margin-top: -30px;
  background-image: linear-gradient(60deg, #009ade, #0089cd);
}
.login-header > div:first-child {
  color: white;
  font-size: 28px;
  text-align: center;
  margin-top: 20px;
}
.login-header > .login-icon {
  color: white;
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
}

.login-input {
  margin-top: 30px;
  width: 100%;
  color: gray;
}
.login-input > div {
  margin-left: 30px;
  margin-right: 30px;
}

.login-input-icon {
  color: gray;
  margin-right: 14px;
  font-size: 24px;
}

.login-button {
  margin-top: 30px;
  color: #009ade;
  font-size: 18px;
}

.login-error {
  color: indianred;
  position: absolute;
  top: 260px;
  font-size: 14px;
}

.login-footer {
  color: darkgray;
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}

.login-spinner {
  margin-top: 10px;
}
.login-spinner ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #ffffff;
}
