<div style="height: 100%;">
  <div *ngIf="editMode" style="position:absolute;right:0;top:90px;z-index:100;">
    <app-edit-menu
      [buttonColor]="'slategray'"
      [direction]="'column'"
      (edit)="onGridsterEdit()"
      (add)="onGridsterAdd()"
      (cancel)="onGridsterCancel()"
      (save)="onGridsterSave()"
      (setting)="onGridsterSetting()"
    ></app-edit-menu>
  </div>
  <gridster [options]="gdOptions" class="gridster">
    <gridster-item [item]="item" *ngFor="let item of gdItems">
      <div style="position: absolute; right: 5px; top: 5px; z-index: 10;">
        <button
          mat-mini-fab
          *ngIf="gdOptions.draggable.enabled === true"
          [style.background]="buttonColor"
          (click)="onGridsterDelete($event, item)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div style="position: absolute; right: 65px; top: 5px; z-index: 10;">
        <button
          mat-mini-fab
          *ngIf="gdOptions.draggable.enabled === true"
          [style.background]="buttonColor"
          (click)="onGridsterConfig($event, item)"
        >
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      <ng-container [appDynamicContainer]="item.name"></ng-container>
    </gridster-item>
  </gridster>
</div>
