:host {
  width: 100%;
  height: 100%;
}

.info-body {
  height: 360px;
  border-radius: 5px;
  background-color: white;
  position: relative;
}

.info-avatar-layer {
  height: 100px;
  width: 130px;
  margin: auto;
}

.info-avatar {
  position: absolute;
  height: 130px;
  width: 130px;
  background-color: rgb(240, 240, 240);
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0 rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.info-avatar-image {
  height: 130px;
  width: 130px;
}

.info-avatar-initial {
  color: white;
  background-color: steelblue;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  height: 130px;
  width: 130px;
  display: table-cell;
}

.info-title {
  color: darkgray;
  font-weight: 400;
  font-size: 14px;
}

.info-name {
  font-size: 22px;
  margin-bottom: 20px;
}

.info-text {
  color: darkgray;
  margin-top: 20px;
  margin-left: 20px;
}

.info-footer {
  position: absolute;
  left: 0px;
  bottom: 20px;
  width: 100%;
}

.info-button {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background-color: cadetblue;
  border: solid lightgray 1px;
  color: white;
  border-radius: 50%;
  margin-top: -25px;
  cursor: pointer;
}
