<div
  fxLayout="column"
  [style.backgroundColor]="localConfig.backgroundColor"
  class="full-size-relative"
  style="padding: 0 20px;"
  ngxUiLoaderBlurred
  blur="1"
  [loaderId]="localConfig.name"
>
  <div fxFlex="auto" fxLayout="row wrap" fxLayoutAlign="start center">
    <div fxFlex="none">
      <mat-icon style="font-size: 52px; margin-top: 16px;" [style.color]="localConfig.iconColor">
        {{ localConfig.iconText }}</mat-icon
      >
    </div>
    <div fxFlex="auto"></div>
    <div fxFlex="none" fxLayout="column" fxLayoutAlign="start end">
      <div fxFlex="none" [style.color]="localConfig.textColor" style="margin-bottom: 2px;">
        {{ localConfig.title | translate }}
      </div>
      <div
        fxFlex="none"
        [style.color]="localConfig.mainTextColor"
        style="margin-top: 2px; font-size: 28px;"
      >
        {{ mainTextValue | translate }}
      </div>
    </div>
  </div>
  <mat-divider style="margin-top: 10px;"></mat-divider>
  <button
    mat-button
    [style.color]="localConfig.textColor"
    (click)="onUpdateNow()"
    style="margin: 10px; text-align: left; font-size: 18px; font-weight: 300; padding-left: 2px;"
  >
    <mat-icon style="margin-right: 10px;">refresh</mat-icon> {{ 'key_updateNow' | translate }}
  </button>
</div>
<ngx-ui-loader
  [loaderId]="localConfig.name"
  [fgsType]="spinnerType.rectangleBounce"
  [fgsSize]="40"
  [fgsColor]="'white'"
  [overlayColor]="'rgba(50,50,50,.5)'"
  [pbColor]="'white'"
></ngx-ui-loader>
