::ng-deep .k-upload {
  border-width: 0 !important;
}
::ng-deep .k-upload-status-total {
  display: none !important;
}

.setting-header {
  font-size: 18px;
  font-weight: 400;
}

.setting-card {
  width: 100%;
  position: relative;
}

.profile-avatar {
  height: 85px;
  width: 85px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-avatar-image {
  height: 85px;
  width: 85px;
}

.profile-avatar-initial {
  color: white;
  background-color: #8d6e5d;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  height: 85px;
  width: 85px;
  line-height: 85px;
  display: table-cell;
}

.profile-name {
  font-size: 24px;
  font-weight: 300;
}

.profile-info {
  font-size: 18px;
}

.outer-country {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.outer-country:not(:first-child) {
  margin-left: 20px;
}

.outer-country:hover {
  background-color: #eee;
  cursor: pointer;
}

.inner-country {
  height: 30px;
  width: 30px;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.active {
  background-color: #ccc;
}

.slider-text {
  margin-left: 10px;
  font-size: 14px;
  width: 80px;
}
