<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div fxFlex="auto" class="setting-header">{{ 'l10n_userSettings' | translate }}</div>
  <mat-card fxFlex="auto" class="setting-card">
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
        <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
          <div fxFlex="none" class="profile-avatar">
            <img
              *ngIf="attrPhoto"
              [src]="'data:image/png;base64,' + attrPhoto"
              class="profile-avatar-image"
            />
            <div *ngIf="!attrPhoto" class="profile-avatar-initial">
              {{ brandLetter | uppercase }}
            </div>
          </div>
          <div fxFlex="auto" fxLayout="column" fxLayoutGap="10px">
            <div fxFlex="none" *ngIf="loginUser | examValue: 'DisplayName'" class="profile-name">
              {{ loginUser | extraValue: 'DisplayName' }}
            </div>
            <div fxFlex="none" *ngIf="loginUser | examValue: 'JobTitle'" class="profile-info">
              {{ loginUser | extraValue: 'JobTitle' }}
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
